html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: hsla(0,0%,5%,1);
  font-family: "Nunito", sans-serif;
}

.content--canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}
