@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Winky Rough", sans-serif;
}

.font-winky-sans {
  font-family: "Winky Sans", sans-serif;
}

.font-winky-rough {
  font-family: "Winky Rough", sans-serif;
}


body {
  overflow-x: hidden;
  background: transparent;
  color: white;
}
