@font-face {
  font-family: "Vividly";
  src: url("/fonts/Vividly-Regular.woff2") format("woff2"),
       url("/fonts/Vividly-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Vividly", sans-serif;
}

.font-winky-sans {
  font-family: "Vividly", sans-serif;
}

.font-winky-rough {
  font-family: "Vividly", sans-serif;
}


body {
  overflow-x: hidden;
  background: transparent;
  /* color: white; */
  color: var(--text);
}


.cat {
  position: fixed;
  bottom: 20px;
  left: 16px;

  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  image-rendering: pixelated;

  transform: scale(8);
  transform-origin: bottom left;
  z-index: 50;
}

.background--custom {
  position: absolute;
  inset: 0;

  background: linear-gradient(90deg, #fff4a9, #ffc8ee, #d9e2ff, #f3c8ff);
  background-size: 300% 300%;
  animation: gradient 10s alternate infinite;
}

@keyframes gradient {
  0% { background-position: 0%; }
  100% { background-position: 100%; }
}

/* ============================= */
/* LIGHT MODE TEXT OVERRIDES */
/* ============================= */


/* Optional: links look nicer */
.theme-light #page,
.theme-light #page * {
  color: #291801;
}

