@font-face {
  font-family: "Vividly";
  src: url("/fonts/Vividly-Regular.woff2") format("woff2"),
       url("/fonts/Vividly-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Vividly", sans-serif;
}

.font-winky-sans {
  font-family: "Vividly", sans-serif;
}

.font-winky-rough {
  font-family: "Vividly", sans-serif;
}


body {
  overflow-x: hidden;
  background: transparent;
  color: white;
}


.cat {
  position: fixed;
  bottom: 20px;
  left: 16px;

  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  image-rendering: pixelated;

  transform: scale(8);
  transform-origin: bottom left;
  z-index: 50;
}
